<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" style="background-image: url('assets/images/introimg.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/profileimage.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Druthvik</h1>
          <p class="category text-white">Software Developer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
